<%- include('partials/header') %>


<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h2 class="h1 display-4">Mon Compte</h2>
  <p class="lead">Mes informations sur The quizz !</p>
</div>


<div class="profile">
  <div class="form-group mb-5">
    <label class="h3">Nom</label>
    <div class="text-secondary"><%= user.lastname %></div>
  </div>
  <div class="form-group mb-5">
    <label class="h3">Prénom</label>
    <div class="text-secondary"><%= user.firstname %></div>
  </div>
  <div class="form-group mb-5">
    <label class="h3">Email</label>
    <div class="text-secondary"><%= user.email %></div>
  </div>
  <div class="form-group mb-5">
    <label class="h3">Role</label>
    <div class="text-secondary"><%= user.role %></div>
  </div>

  <div class="form-group mb-5">
    <label class="h3">Sécurité</label>
    <div class="text-secondary">Authentification a deux facteurs (2FA) via une application d'authentification (Google Authenticator, Authy, Microsoft Authentificator, etc...)</div>
    <br>
    <div class="text"> Staut de votre authentification a deux facteurs : <span class="underline"><%= user.statutTwoFA %></span></div>
   
    <% if (locals.info) {%>
      <div class="bandeau info"><%= info %></div>
      <% } %>

  </div>
  <form action="/profile" method="POST" class="form-check">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="twofa" id="active2fa" value="true">
      <label class="form-check-label" for="active2fa">
        Activer l'authentification a deux facteurs et scanner un qrcode via une application d'authentification
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="twofa" id="desactive2fa" value="false">
      <label class="form-check-label" for="desactive2fa">
        Désactiver l'authentification a deux facteurs et ne plus me demander de second code à chaque connexion 
      </label>
    </div>
    <button class="btn btn-sm btn-info " type="submit">Valider</button>

  </form>
</div>






<!-- <a class="btn btn-info btn-sm" role="button" href="http://localhost:4000/2fa/generate">Activer l'authentification a deux
  facteurs !</a>
 -->

<br>

<% if (locals.error) {%>
<div class="bandeau error"><%= error %></div>
<% } %>
<br>

<label class="h3">Quizz</label>
<% if (scores.length === 0) {%>

<h4>Vous n'avez pas encore testé de quiz ! &nbsp; 😔</h4>

<%} else {%>

<div class="table-responsive">

  <table class="table table-hover table-sm align-middle">
    <thead class="thead-dark">
      <tr>
        <th>Quizz</th>
        <th>Meilleur score</th>
        <th>Nombre d'essai</th>
      </tr>
    </thead>
    <tbody>
      <% for (const score of scores) { %>

      <% if (score.dataValues.score === 10) {%>
      <tr class="table-success">
        <%} else {%>
      <tr>
        <% } %>


        <td><%= score.dataValues.quizz %></td>

        <% if (score.dataValues.score === 10) {%>

        <td><%= score.dataValues.score %> &nbsp; &nbsp; 🎉 Bravo ! </td>

        <%} else {%>

        <td><%= score.dataValues.score %></td>

        <% } %>

        <td><%= score.dataValues.essai %> &nbsp; <a class="btn btn-info btn-sm" role="button"
            href="/quiz/<%=score.dataValues.quizzes[0].dataValues.id %>">Refaire ce quiz !</a> </td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>

<% } %>



<%- include('partials/footer') %>