<%- include('partials/header') %>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h2 class="h1 display-4">S'inscrire sur The quizz</h2>
    <p class="lead">Inscrivez vous pour profiter des quizz !</p>
</div>

<form action="/signup" method="POST" class="form-signin">

    <div class="form-label-group">
        <input type="lastname" class="form-control" id="lastname" name="lastname" aria-describedby="lastnameHelp"
            placeholder="Votre nom">
        <label for="lastname">Votre nom</label>
    </div>

    <div class="form-label-group">
        <input type="firstname" class="form-control" id="firstname" name="firstname" aria-describedby="firstnameHelp"
            placeholder="Votre prénom">
        <label for="firstname">Votre prénom</label>
    </div>

    <%# en cas d'erreur, on passera une variable error à notre vue %>
    <% if (locals.errorEmail) {%>
    <div class="error"><%= errorEmail %></div>
    <% } %>

    <%# en cas d'erreur, on passera une variable error à notre vue %>
    <% if (locals.error) {%>
        <div class="error"><%= error %></div>
        <% } %>

    <div class="form-label-group">
        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp"
            placeholder="Votre courriel">
        <label for="email">Votre courriel</label>
        <small id="emailHelp" class="form-text text-muted">Nous ne partagerons jamais votre courriel. Si vous renseignez un email qui n'est pas le votre, vous ne pourrez pas retrouver votre mot de passe en cas d'oubli. </small>
    </div>
<%# en cas de MDP trop court / no alphanumerique, on passera une variable errorMdpLength à notre vue %>
    <% if (locals.errorMdpLength) {%>
        <div class="error"><%= errorMdpLength %></div>
        <% } %>

    <div class="form-label-group">
        <input type="password" class="form-control" id="password" name="password"
            placeholder="Votre mot de mot de passe">
        <label for="password">Votre mot de mot de passe</label>
    </div>
<%# en cas de MDP non semblable, on passera une variable errorMdp à notre vue %>
    <% if (locals.errorMdp) {%>
    <div class="error"><%= errorMdp %></div>
    <% } %>

    <div class="form-label-group">
        <input type="password" class="form-control" id="passwordConfirm" name="passwordConfirm"
            placeholder="Confirmez votre mot de passe">
        <label for="passwordConfirm">Confirmez votre mot de passe</label>
    </div>

    <div class="form-group text-center">
        <button type="submit" class="btn btn-primary btn-lg btn-block">Envoyer</button>
    </div>
</form>


<%- include('partials/footer') %>